*{
    margin: 0;
    padding: 0;
}

html,body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: $background;
    font-family: 'Nunito Sans', sans-serif;
    color: $text;
    position: relative;
}
