.filterCountry{
  display: flex;
  align-items: center;
  background: $backgroundElements;
  box-shadow: $boxShadow;
  border-radius: 5px;
  padding: 18px;
  gap: 14px;
  width: 480px;

  .input{
    width: 100%;
    color: $text;
    background: $backgroundElements;
  }

  .input>input{
    border: none;
    width: 100%;
    color: $text;
    background: $backgroundElements;
  }
}

.filterCountry .icon .iconify{
}

@media(min-width: 200px) and (max-width: 960px){
  .filterCountry{
    width: 100%;
  }
}
