header                    
    nav.navbar
        h1.navbar-brand Where in the world?
        button.navbar-brand--button#changeMode
            span(class="iconify" data-icon="ep:moon")
            | Dark Mode
