#filterRegion .dropdown-toggle{
    width: 200px;
    height: 50px;
    border: none;
    background: $backgroundElements;
    box-shadow: $boxShadow;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $text;
}

.dropdown-toggle::after{
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    content: url('https://api.iconify.design/eva/arrow-ios-downward-fill.svg');
    filter: $filterDropdown;
}

.dropdown-menu{
    transform: translate3d(0px, 58px, 0px) !important;
    width: 200px;
    border: none;
    box-shadow: $boxShadow;
    background: $backgroundElements;
}

.dropdown-item {
    padding: 0.25rem 1.5rem;
    font-weight: 800;
    font-size: 14px;
    color: $text;
}
