article#filterRegion
    .dropdown
        button#dropdownMenuButton1.dropdown-toggle(type='button' data-bs-toggle='dropdown' aria-expanded='false') Filter by Region
        div.dropdown-menu#listRegion(aria-labelledby='dropdownMenuButton1') 
            button.dropdown-item(data-country="Africa") Africa
            button.dropdown-item(data-country="Americas") America
            button.dropdown-item(data-country="Asia") Asia
            button.dropdown-item(data-country="Europe") Europe
            button.dropdown-item(data-country="Oceania") Oceania 
            button.dropdown-item(data-country="Todos") Todos los paises
